streamlit
pyngrok
langgraph
langchain
langchain-community
langchain-groq
langchain-chroma
langchain-huggingface
chromadb
sentence-transformers
pypdf
tavily-python
rank-bm25
python-dotenv
